
.team-section .background-blog {
  background-image: url('../I/enterprise_terrence.png');
  background-repeat: no-repeat;
  background-position: 70% 50%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -ms-behavior: url(../js/backgroundsize.htc);
  padding: 130px 0;
  position: relative;

}