
.team-section .background-blog {
  background-image: url('../I/life_hack.png');
  background-repeat: no-repeat;
/*   background-position: 70% 70% 70%; */
  background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -ms-behavior: url(../js/backgroundsize.htc);
  padding: 115px 0;
  position: relative;

}